.personCard
    max-width: 300px
    margin: 5px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    background-color: white
    padding: 2px
    border-color: transparent
    border-radius: 0.2em


    p
        font-size: 1.25em
        text-overflow: ellipsis

    &__buttonDiv
        width: 100%
        display: flex
        justify-content: center
